body {
    font-family: "Avenir", "Arial";
}

h1,h2,h3,h4,h5 {
    font-weight: lighter;
    font-size: 2.5em;
}

h1 {
    margin-top: 0;
}

h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.6em;
    /* clear: both; */
    margin-bottom: 10px;
    border-bottom:1px solid black
}

div#exponents p {
    float: left;
    padding: 10px 20px 10px 10px;
    width: 100px;
}

#vector_vis {
}

#vector_vis_controls {
    padding: 20px;
}

#vector_canvas {
    float: left;
    border: 2px solid rgba(126, 126, 126, 1);
    margin: 0px 20px;
}

#p_vectors {
    float: left;
    margin-right: 50px;
}

#lorenz {
    height: 600px;
    width: 40%;
    position: absolute;
    right: 10px;
    top: 160px;
}

td, th {
    width: 60px;
    text-align: right;
}

div#stats {
    display: none;
}

#peturbation_vectors {
   width: 60%;
}

#kaplan_yorke, #lyapunov_exponents {
    float:left;
    display: inline;
    margin-right: 30px;
}

.exp {
    padding-left: 50px;
}

#kaplan_yorke>p {
    text-align: center;
}

#overview {
    padding-left:10px;
}
p span {
    padding-left: 20px;
    padding-right:30px;
}

.jpbutton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.jpbutton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
.jpbutton:active {
    position:relative;
    top:1px;
}
