body {
    font-family: "Avenir";
}

h1 {
    font-weight: lighter;
    
    font-size: 4.5em;
}

div#exponents p {
    float: left;
    padding: 10px 20px 10px 10px;
    width: 100px;
}

#lorenz {
    height: 600px;
    width: 600px;
    position: absolute;
    right: 10px;
    top: 160px;
}

td, th {
    width: 100px;
    text-align: right;
}
